body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10vh;
  margin-right: 10vh;
  background-color: rgb(241, 240, 240);
}

.program1-container {
  width: 100vh;
  padding-bottom: 25px;
}

.inputs {
  display: flex;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-group label {
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.input-group input {
  max-width: 100px;
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: azure;
}

.result-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.result-group button {
  padding: 10px;
  max-width: max-content;
}

.result-group input {
  margin-top: 10px;
  max-width: 100px;
}
