body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 6%, 90%);
}

h1 {
  color: rgb(23, 136, 130);
}

form {
  background-color: white;
  text-align: center;
  max-width: 50vh;
  margin: auto;
  padding: 25px 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.3);
}

#textbox {
  font-size: 40px;
  width: 50%;
  text-align: center;
  border: 2px solid hsl(0, 0%, 0%, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background-color: hsl(177, 70%, 41%, 0.3);
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: hsla(177, 86%, 63%, 0.3);
}

#resultsParagraph {
  font-size: 1.5em;
  font-weight: bold;
}
